@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  touch-action: manipulation;
  -ms-touch-action: manipulation;
  overflow-x: hidden;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  touch-action: manipulation;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

